html, body {
    background: #c3c9cf;
}

/* TODO:  Add glowing CSS class to end point. */

.maze {
    border: 3px solid #0c1d2a;
    display: inline-block;
    border-radius: 7px;
    vertical-align: top;
    background: #e8e5ed;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.maze .mazeRow .mazeSpace {
    display: table-cell;
    border: 2px solid transparent;
    width: 1.2em;
    height: 1em;
    overflow: inherit;
    line-height: 1em;
    font-size: 2em;
    text-align: center;
    position: relative;
}

.icon-screenshot:before {
    content: "\f05b";
    color: #526975;
}

.maze .mazeRow .mazeSpace.north {
    border-top-color: #0c1d2a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.maze .mazeRow .mazeSpace.east {
    border-right-color: #0c1d2a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.maze .mazeRow .mazeSpace.south {
    border-bottom-color: #0c1d2a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.maze .mazeRow .mazeSpace.west {
    border-left-color: #0c1d2a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.maze .mazeRow .mazeSpace i {
    display: block;
    position: absolute;
    color: #ebf4f6;
    margin-left: 3px;
}

.icon-remove-circle:before {
    content: "\f05c";
    color: #42854a;
}

.maze .mazeRow .mazeSpace i.robot {
    color: #283542;
}

div.actions {
    margin: 0;
    padding: 0 2em;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

div.actions i.robot {
    display: block;
    text-align: center;
    font-size: 3em;
    margin-top: .5em;
    color: #283542;
}

div.actions .btn {
    display: block;
    margin-bottom: .5em;
    color: #e8e4ec;
}

.btn {
    color: #ebf4f6 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #8a9ea5;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-size: .5rem;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    background: #3c4f58;
    letter-spacing: 0px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.icon-remove-circle:before {
    height: 25px;
    width: 23px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        background-color: red;
        border-radius: 100%;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: yellow;
    }
}

/* @-webkit-keyframes pulse {
    0% { box-shadow:0 0 0px red, inset 0 0 0px red; }
    50% { box-shadow:0 0 100px red, inset 0 0 0px red; }
    100% { box-shadow: 200px 100px 300px red, inset 0 0 0px red; }
  }
   */

/* .icon-remove-circle:before {
    background-color:transparent;
    width: 18px;
    height: 15px;
    border-radius:500px;
    box-shadow: 100px 0 8px #42854a, inset 0 0 80px #42854a;
    -webkit-animation: pulse 2s linear 1s infinite;
  }
  .icon-remove-circle:before {
    display:block;
    text-align: center;
    line-height: 20px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: #42854a;
    text-shadow: 0 0 40px #42854a;
  } */