.snake-background {
    background-image: url("https://i.pinimg.com/originals/bc/19/ee/bc19eed794107de19d839ba83670d0c1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    opacity: .8;
    margin: auto;
    border-radius: 10px;
}

#snakeGame {
    padding-top: 10px;
}

#snakeGame, h1, h2 {
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#failMessage {
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 300px;
    /* Full height (cover the whole page) */
    opacity: .8;
    right: 0;
    bottom: 0;
    background-color: red;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#failSpan {
    margin: auto;
}

#failMessageContainer {
    text-align: center;
    margin: 70px 0;
}

#gameScore {
    background: #fff;
    visibility: hidden;
    border-radius: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 1px 5px;
    width: 60px;
    height: 45px;
    margin: auto 0 0 0;
}

/* Explosion Styles */

.explosion {
    position: absolute;
    width: 600px;
    height: 600px;
    pointer-events: none;
}

.explosion .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 1s reverse forwards;
}

@keyframes pop {
    from {
        opacity: 0;
    }
    to {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}

#gameContainer {
    display: contents;
}

#snakeCanvas {
    margin: 0;
    text-align: center;
}