/* BACKGROUND AND BODY */

html {
    background: #373737;
}

body {
    margin: 0;
    padding: 0;
    background-color: #737373;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 52px;
    line-height: 40px;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 35px;
}

/* section, footer {
    background: #737373;
} */

.wood-background {
  background-image: url("../img/light-wood.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#table {
    display: none;
    height: 40%;
    margin: 0;
}

#game-scene {
    width: 100%;
    position: relative;
    z-index: 9;
}

#game-container {
    padding-bottom: 0;
}

.table {
    background-image: url("../img/dark-wood.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    width: 100%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

#begin-game, #restart-game {
    width: 200px;
    background-color: #6693dd;
    border-radius: 8px;
    color: #fff;
    padding: 25px;
    position: initial;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 200px;
    z-index: 200;
    cursor: pointer;
    border: none;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

/* BOARD AND PIECES */

#game-board {
    position: relative;
    width: 548px;
    margin: 0 auto;
    border: 8px solid #d0e1f9;
    height: 472px;
    border-radius: 7px;
    float: left;
    z-index: 15;
    box-sizing: border-box;
}

#game-board-underlay {
    position: absolute;
    width: 548px;
    height: 472px;
    box-sizing: border-box;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 16px solid transparent;
}

#play-area {
    margin: 0 auto;
    width: 750px;
    margin-top: 100px;
    opacity: 0;
}

.token {
    width: 60px;
    height: 60px;
    transform: scale(1.1);
    transform-origin: center;
    border-radius: 100%;
    position: absolute;
    top: -50px;
}

circle {
    stroke-width: 16px;
}

.cast-shadow {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

/* BOARD STAND */

.stand-container {
    float: left;
    width: 100px;
    margin-top: 150px;
    position: relative;
}

.stand-container.left {
    left: 27.5px;
}

.stand-container.right {
    right: 27.5px;
}

.stand-leg {
    width: 20px;
    height: 350px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

.stand-attachment {
    width: 15px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 15px;
}

.stand-attachment.left {
    left: 58px;
}

.stand-attachment.right {
    right: 58px;
}

.stand-foot {
    width: 100%;
    background-color: #ffffff;
    height: 20px;
    border-radius: 8px 8px 0px 0px;
    top: 350px;
}

/* TEXT CONTENT */

#game-over {
    display: none;
    font-size: 30px;
    position: absolute;
    z-index: 100;
    top: -60px;
    left: 0;
    right: 0;
}

.game-button {
    width: 200px;
    background-color: #4d648d;
    border-radius: 8px;
    color: #fff;
    padding: 15px;
    left: 0;
    right: 0;
    top: 200px;
    z-index: 200;
    margin: 20px;
    cursor: pointer;
    border: none;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}

#game-scene, #restart-game {
    display: none;
}