/****** PLACE YOUR CUSTOM STYLES HERE ******/

html, body {
    background:  #292929;
    scroll-behavior: smooth;
}

.project .image-tile {
    max-height: 270px;
}

#connect4 {
    filter: sepia(0.50);
    opacity: .8;
}

.project .image-tile:hover {
    background: #000;
}

.hover-state h1, .hover-state h2, .hover-state h3, .hover-state h4, .hover-state h5, .hover-state h6 {
    color: #ffffff;
    background: black;
}

.hover-tile:hover .hover-state * {
    width: 100%;
}